<!DOCTYPE html>
<html>
    <head>
        <title>Let's play Madlibs!</title>
    </head>
    <body>
        <form action="/madlib">
            <p><label>Person: <input type="text" name="person"></label></p>
            <p><label>Color: <input type="text" name="color"></label></p>
            <p><label>Adjective: <input type="text" name="adjective"></label></p>
            <p><label>City: <input type="text" name="city"></label></p>
            <p><label>Pet: <input type="text" name="pet"></label></p>
            <p><label>Pet Name: <input type="text" name="pet_name"></label></p>
            <p><label>Destination: <input type="text" name="destination"></label></p>
            <p><label>Sport: <input type="text" name="sport"></label></p>
            <p><input type="submit"></p>
        </form>
    </body> 
</html>

<!-- person, color, noun, adjectvie, city, pet name, destination, sport -->           
<!--  <p><label>Noun: <input type="text" name="noun"></label></p> -->