<!DOCTYPE html>
<html>
    <head>
        <title>Here is your Madlib!</title>
    </head>
    <body>
        There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.
    </body>
</html>

<!-- person, color, noun, adjective -->

<!-- There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adjective }} way. -->