<!DOCTYPE html>
<html>
    <head>
        <title>Here is your Madlib!</title>
    </head>
    <body>
        Currently in Hackbright's SEPT 2020 ADA cohort there is a student 
named {{ person }}. {{ person }} was dreaming about traveling to {{ city }} 
and {{ adjective }} {{ destination }}. When other students asked who {{ person }}
would bring with them they said their {{ color }} {{ pet }} {{ pet_name }}. 
The dream ended with {{ person }} and {{ pet_name }} playing {{ sport }}....
wishful thinking!
    </body>
</html>

<!-- person, color, noun, adjective, city, pet, pet name, destination, sport -->

<!-- There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adjective }} way. -->


<!-- Currently in Hackbright's SEPT 2020 ADA cohort there is a student 
named {{ person }}. {{ person }} was dreaming about traveling to {{ city }} 
and {{ adjective }} {{ destination }}. When other students asked who {{ person }}
would bring with them they said their {{ color }} {{ pet }} {{ pet_name }}. 
The dream ended with {{ person }} and {{ pet_name }} playing {{ sport }}....
wishful thinking!-->