<!DOCTYPE html>
<html>
    <head>
        <title>Here is your Madlib!</title>
        <link rel="stylesheet" href="static/madlibs.css">
    </head>
    <body>
        There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab with 
        their pet {{ pet_name }}.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adjective }} way.
    </body>
</html>

<!-- person, color, noun, adjective, city, pet, pet name, destination, sport -->

<!-- There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adjective }} way. -->